# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
apps/web/.next/
apps/web/out/

# Env files (never commit secrets)
.env.local
.env.*.local

# Build outputs
apps/web/build/
dist/

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
